 /*
reset
*/
 * {
     margin: 0;
     padding: 0;
    box-sizing: border-box;
 }

 strong,
 em {
     font-weight: 300;
     font-style: normal;
     font-family: "Raleway", serif;
 }

 body {
     font-family: "Raleway", serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     font-size: 16px;
     line-height: 1.5;
     font-size: 16px;
     line-height: 22px;
 }

 .sr-only {
     position: absolute;
     width: 1px;
     height: 1px;
     padding: 0;
     margin: -1px;
     overflow: hidden;
     clip: rect(0, 0, 0, 0);
     border: 0;
 }

 .logo-image {
     width: 100px;
     height: auto;
     display: block;
     margin: 0 auto 1rem auto;
 }

 .main-content {
     color: #1f1f1f;
     width: 100%;
     height: auto;
     position: relative;
     z-index: 1;
     background-color: rgba(255, 255, 255, 0.9);
     padding: 3rem 2rem;
 }

 .main-content p {
    margin-bottom: 1rem;
}

.main-content h1, .main-content h2, .main-content h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.main-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.main-content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.main-content h4, .main-content h5, .main-content h6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-content ul {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem; 
}

.legal {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #555555;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

 /*
 COOKIES POLICY MESSAGE
 */

 .cookies-policy-message {
     position: fixed;
     z-index: 11;
     bottom: 0;
     right: 0;
     width: 100%;
     max-width: 510px;
     padding: 1rem .5rem;
     background-color: #111111bd;
     color: #fff;
     text-align: center;
     display: flex;
 }

 .cookies-policy-message p {
     margin-right: .5rem;
 }

 .cookies-policy-message a {
     text-decoration: underline;
     color: #fff;
 }

 .cookies-policy-message button {
     background-color: transparent;
     color: #fff;
     border: 1px solid white;
     padding: .5rem;
     font-size: 1rem;
     line-height: 1.2rem;
     font-weight: 300;
     cursor: pointer;
 }